#ourTeamDiv{
    display: grid;
    width: 85%;
    grid-template-columns: 30% 70%;
    margin: 2rem auto;

}
#ourTeamDiv>div>div:last-child{
   display: flex;
   justify-content: flex-start;
}
#ourTeamDiv>div:first-child>h2{
    font-weight: 600;
    font-size: 2rem;
 }
 .blueTeamsDiv{
    color: rgb(1,174,238);
 }
 #ourTeamDiv>div>div:last-child>h2{
   padding: 5px 15px;
   color: gray;
   font-size: 1.5rem;
   margin: auto 15px;
   cursor: pointer;
   font-weight: 400;
 }
 #ourTeamDiv>div>div:last-child{
    display: flex;
    justify-content: flex-start;
 }
 #teamsSlider{
   width: 50%;
   margin: 6% auto auto 35%;
 }
 .bottomBorder{
   border-bottom: 2px solid rgb(1,174,238);
   color: rgb(1,174,238) !important;
}